.bg-blur {
  background: rgba(
    0,
    0,
    0,
    0.8
  ); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(8px); // This be the blur
}
.game-over-card {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.defeat {
  background-image: url('../../assets/game-over.svg');
}
.win {
  background-image: url('../../assets/game-win.svg');
}
