$hover-color: #fef08a;
.card {
  background-image: url('../../assets/wave-haikei.svg');
  background-size: cover;
  background-repeat: no-repeat;
  &:hover {
    background-image: url('../../assets/wave-haikei-hover.svg');

    .player-image {
      border: 0.2rem solid #fef08a;
    }
    .team-info {
      background-color: rgba(71, 85, 105, 0.363);
    }
    h5,
    span {
      color: $hover-color;
    }
  }
  &:active {
    background-color: black;
  }
}
.player-image {
  border: 0.2rem solid transparent;
}
.date-container {
  position: absolute;
  top: -1.6rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
